// const { ContextExclusionPlugin } = require("webpack");
body {

     background-image: url('https://raw.githubusercontent.com/yanxilinn/Webable-Tennis/main/assests/images/background.png');

     max-width:100%;
     max-height:100%;
     background-size:100% 135%;
     font-family: "Courier New", Courier, monospace;
     font-size: 2em;
     display: flex;
     align-items: center;
     text-align: center;
   } 

#quick {
  margin-left: 50px;
}

img:hover {
  animation: .3s infinite alternate scales;
}

@keyframes scales {
  10% {transform: scale(1.01);}
  30% {transform: scale(1.03);}
  50% {transform: scale(1.05);}
  70% {transform: scale(1.07);}
  100% {transform: scale(1.1);}
}

canvas{
    margin-top: 25px;
    z-index: 10;
    
}

