body {
    /* background-color: greenyellow;
     font-family: "Courier New", Courier, monospace; */
     background: #7e9ef7;
     font-family: sans-serif;
     font-size: 2em;
     text-align: center;
   } 
   
   
   .block{
     position: absolute;
     background-color: white;
     top: 50vh;
     transform: translateY(-50%);
     width: 1vh;
     height: 10vh;
   }
   
   .block.left{
     left: 1vw;
   }
   
   .block.right{
     right: 1vw; 
   }

